<app-navbar></app-navbar>

<main class="flex-shrink-0">
    <!-- Navigation-->
    
    <!-- Page Content-->
    <section class="py-5">
        <div class="container px-5">
            <h1 >Sobre Nosotros</h1>
            <br>
            <div class="card border-0 shadow rounded-3 overflow-hidden ">
                <div class="card-body p-0 ">
                    <div class="row gx-0 text-class">
                        <div class="col-lg-6 col-xl-5 py-lg-5">
                            <div class="p-4 p-md-5">
                                
                                <div class="h2 fw-bolder">InfoGames</div>
                                <p>Somos un grupo de amigos que han unido su pasión por los videojuegos y la programación para crear ésta web.</p>
                                <a class="stretched-link text-decoration-none" routerLink="/contacto">
                                    Contacto
                                    
                                </a>
                                
                            </div>
                            
                            
                        </div>
                        <div class="imagen"><img src="../assets/Pictures/sobre-nosotros.jpg" alt="foto-equipo" width="600x350"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</main>