   
h1{
    margin-left:1%;
   position: relative;
    width:auto;
    text-align: center;
}

.container{
width: fit-content;    
display:relative;
margin-left: 5%;
margin-right: 10%;
border-radius:10px;
border:darkgrey 2px solid;
float: left;
margin-top: 10%;

}
.container :hover{
    color: #000;
}

.secundario{
    margin-top:10%;
    float:top right;
    margin-left: 50%;
}