<app-navbar></app-navbar>
<app-usuario></app-usuario>
<div>
    <header>
        <h1>Estamos Probando...</h1>
    </header>
    <div class="container">
        <h2>Grand theft Auto</h2><br>
        <img  src="assets/Pictures/GTA.jpg" height="300px"><br>
        <p>Nuestro becario lleva mas de 10 años <br>jugando y aun no terminó la campaña</p>
    </div>
    <div class="secundario">
        <p>Si quieres ver el listado de juegos</p>
        <button class="btn btn-primary" routerLinkActive="active" routerLink="/Juegos">PINCHA AQUÍ!</button>
    </div>
</div>